*{
  margin : 0;
  padding : 0;
  text-decoration : none;
}
#logo{
  height : 30px;
  width : 100px;
}
.logo{
  height: 20px;
  width : 20px;
}

header{
   background-color : green;
  height : 50px;
  display : flex;
  justify-content : space-between;
  align-items : center;
 }
footer {
  background-color : yellow;
  display: flex ;
  justify-content: space-between;
}
.item-links{
  display : flex;
  justify-content : flex-end;
  align-items : center;
  list-style : none;
}
#body{
  display : flex;
  flex-direction : column;
  align-items:center;
  margin : 10px;
}
img{
  margin : 10px;
  height : 150px;
  width : 500px;
}
.main{
  display : flex;
  border: 2px solid black;
  height: 170px;
  width: 60%;
  margin : 5px;

}

.item{
  margin : 5px;
}
  