/* Body Styling */
body{
    font-family: Arial, sans-serif;
    background-color: #acaca0;
    text-align: center;
    margin: 20px auto;
}

/* Heading styling */
h1{
    color: black;
    margin-bottom: 30px;

}
/* Product-Box styling */
.product-box{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;
}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.price{
    color: red;
}
#button{
    background-color: blue;
}
#button:hover{
    background-color: rgb(0, 136, 255);
}

